.questions {
  width: 90vw;
}

.question-box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 2px #d44590;
  border-top: 1px solid #d29fba;
  margin-top: 10px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.question-header {
  border-bottom: 1px solid #c86b99;
  display: grid;
  grid-template-columns: auto 42px;
  padding: 10px 15px;
}

.question-title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.question-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  justify-self: end;
  outline: none;
}

.question-button .bar {
  background: #8f0a5d;
  border-radius: 2px;
  display: block;
  font-size: 0;
  margin: 0;
}

.question-button .bar:first-child {
  height: 3px;
  transform: translateY(2px);
  width: 20px;
}

.question-button .bar:last-child {
  height: 4px;
  transform: rotate(90deg) scaleY(0.7) translateX(-2px);
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.question-button .bar.minus {
  transform: rotate(360deg) scaleY(1) translateY(-1px);
}

.question-body {
  padding: 15px;
}

.question-box-open {
  height: auto;
  background-color: deeppink;
  color: white;
}
