* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f1f5f8;
  margin: 120px 0 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.navbar-header {
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
}

.page-header {
  color: #eee;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.top-nav {
  background-color: #fff;
}

.top-nav ul {
  padding: 0;
  margin: 0;
}

.top-nav ul li {
  list-style: none;
}

.nav-link {
  color: #333;
  text-align: center;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #1a1a1a;
  text-decoration: none;
}

.nav-link:hover {
  background-color: cornsilk;
}

.active {
  background-color: cornsilk;
  font-weight: bold;
}

.active:before {
  content: "> ";
}

.active:after {
  content: " <";
}

@media only screen and (min-width: 600px) {
  body {
    margin-top: 150px;
  }

  .navbar-header {
    box-shadow: 0 2px 2px #ccc;
  }

  h1 {
    letter-spacing: 0.1em;
    font-size: 2.2em;
  }

  .top-nav ul {
    display: flex;
  }

  .top-nav ul li {
    flex: 33.3%;
  }

  .nav-link {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
  }

  .nav-link:hover {
    background-color: #fff;
    border-bottom: 10px solid #ffa300;
  }

  .active {
    background-color: #fff;
    border-bottom: 10px solid #ffa300;
  }

  .active:before {
    content: "";
  }

  .active:after {
    content: "";
  }
}
