body {
  background-color: #f1f5f8;
  font-family: "Lato", sans-serif;
  margin: 140px 0 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 200px;
}

.page-header {
  background-color: #1a1a1a;
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

h1 {
  color: #eee;
  font-size: 1.2em;
  text-align: center;
}

.top-nav {
  background-color: #fff;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.top-nav ul li {
  list-style: none;
}

.nav-link {
  border-bottom: 1px solid #1a1a1a;
  color: #333;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #fff8dc;
}

.active {
  background-color: #fff8dc;
  font-weight: bold;
}

.active::before {
  content: "> ";
}

.active::after {
  content: " <";
}

footer {
  background-color: #fff;
  border-top: 2px solid #ddd;
  font-size: 0.8em;
  line-height: 1.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px 10px 20px;
  text-align: center;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 600px) {
  body {
    margin-top: 140px;
  }

  .main-header {
    box-shadow: 0 2px 2px #ccc;
  }

  h1 {
    font-size: 2.2em;
    letter-spacing: 0.1em;
  }

  .top-nav ul {
    display: flex;
  }

  .top-nav ul li {
    flex: 33.3%;
  }

  .nav-link {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
  }

  .nav-link:hover {
    background-color: #fff;
    border-bottom: 10px solid #ffa300;
  }

  .active {
    background-color: #fff;
    border-bottom: 10px solid #ffa300;
  }

  .active::before {
    content: "";
  }

  .active::after {
    content: "";
  }

  footer {
    font-size: 0.7em;
    line-height: 2em;
    letter-spacing: 0.1em;
  }
}
