* {
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  margin-top: 100px;
  text-align: center;
}

.navbar {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 50px;
  padding: 10px 0 0;
  position: sticky;
}

.navbar .logo {
  margin-left: 15px;
}

.menu-toggle {
  justify-self: end;
  margin-right: 15px;
}

.menu-toggle:hover {
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: #3f3f3f;
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  width: 25px;
}

.navbar .sub-menu-container {
  background-color: #fff;
  grid-column: span 2;
  margin-top: 12px;
  padding: 0;
  transform: translate(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
}

.sub-menu-container .nav-links {
  list-style: none;
  text-align: center;
}

.nav-item .nav-link {
  color: #000;
  display: block;
  padding: 15px 5px;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.nav-item .nav-link:hover {
  background-color: #ff1493;
  color: #fff;
}

.sub-menu-container .nav-social-links {
  list-style: none;
  text-align: center;
}

.nav-social-links::before {
  content: "~ Follow us at social media ~";
  display: block;
  font-style: italic;
  margin: 20px 0 10px;
}

.nav-social-links .nav-item {
  display: inline-block;
}

.nav-item .nav-social-link {
  display: block;
  margin: 4px;
}

.nav-item .nav-social-link:hover {
  transform: scale(1.2);
}

.nav-social-link i {
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 10px 20px;
  font-size: 0.8em;
  text-align: center;
  width: 100vw;
  background-color: #eee;
  border-top: 2px solid #ddd;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 840px) {
  .navbar {
    grid-template-columns: 250px auto;
    overflow: hidden;
    padding: 0;
  }

  .navbar .sub-menu-container {
    display: grid;
    grid-auto-flow: column;
    grid-column: 2;
    justify-self: stretch;
    margin-top: 0;
    transform: none !important;
    transition: none !important;
    opacity: 100;
  }

  .sub-menu-container .nav-links {
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    margin: 0;
    padding: 0;
  }

  .nav-links .nav-item {
    display: block;
  }

  .nav-item .nav-link {
    padding: 16px;
  }

  .sub-menu-container .nav-social-links {
    border-left: 1px solid #d3d3d3;
    justify-self: end;
    padding: 5px 15px 0;
  }

  .nav-social-links::before {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  footer {
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.1em;
  }
}

.sub-menu-slide-in {
  opacity: 100 !important;
  transform: translate(0%) !important;
}

.menu-toggle.active .bar:first-child {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:last-child {
  transform: rotate(-45deg) translateX(6px) translateY(-6px);
}
