* {
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.page-header {
  background-color: #1a1a1a;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
}

h1 {
  color: #eee;
  text-align: center;
  font-size: 2em;
}

.questions {
  width: 90vw;
}

.question-header {
  border-bottom: 2px dashed #ffc0cb;
  display: grid;
  grid-template-columns: auto 42px;
  padding: 10px 15px;
}

.question-title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.question-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  justify-self: end;
  outline: none;
}

.question-button .bar {
  background: #8f0a5d;
  border-radius: 2px;
  display: block;
  font-size: 0;
  margin: 0;
}

.question-box-open .bar {
  background-color: #fff;
}

.question-button .bar:first-child {
  height: 3px;
  transform: translateY(2px);
  transition: all 0.3s ease-in-out;
  width: 20px;
}

.question-button .bar:last-child {
  height: 4px;
  transform: rotate(90deg) scaleY(0.7) translateX(-2px);
  transition: background-color 0.3s, transform 0.4s ease-in-out;
  width: 20px;
}

.question-body {
  padding: 15px;
  line-height: 1.5em;
}

.question-box {
  background-color: #fff;
  border-radius: 3px;
  border-top: 1px solid #d29fba;
  box-shadow: 0 2px 2px #d44590;
  height: 40px;
  margin-top: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.question-box-open {
  background-color: #ff1493;
  color: #fff;
  height: auto;
}

.question-box-open .bar:last-child {
  transform: rotate(360deg) scaleY(1) translateY(-1px);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 10px 20px;
  font-size: 0.8em;
  text-align: center;
  width: 100vw;
  background-color: #eee;
  border-top: 2px solid #ddd;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 600px) {
  .questions {
    width: 70vw;
  }

  footer {
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.1em;
  }
}
