.next-btn, .prev-btn, .random-btn {
  outline: none;
  cursor: pointer;
}

.next-btn, .prev-btn {
  background-color: transparent;
  font-size: 100%;
  border: 0;
  margin: 0 0 6px;
  padding: 0;
}

.next-btn i, .prev-btn i {
  color: #43a7d4;
  display: block;
  font-size: 1.5em;
  padding: 10px;
}

.next-btn i:hover, .prev-btn i:hover {
  color: #2a6985;
}

.random-btn {
  background-color: #c9efff;
  border: 1px solid #43a7d4;
  border-radius: 24px;
  color: #2598cb;
  font-size: 0.8em;
  padding: 6px 12px;
}

#reviews {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 8px #b6effc;
  width: 60vw;
  padding: 16px;
  text-align: center;
}

figure {
  margin: 8px 0 8px 24px;
}

.customer-photo {
  border-right: 2px solid #227296;
  border-top: 2px solid #227296;
  border-radius: 50%;
  box-shadow: 5px -5px 0 #49b8ea;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.quote-icon {
  background-color: #49b8ea;
  border-radius: 50%;
  box-shadow: 0 0 4px #49b8ea;
  color: #fff;
  font-size: 0.6em;
  padding: 8px;
  position: relative;
  left: -90px;
  top: -60px;
}

#reviews .author {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#reviews .job {
  color: #227296;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.1em;
  margin: 8px 0;
  padding: 0;
  text-transform: uppercase;
}

#reviews .comment {
  line-height: 1.3rem;
  max-height: 3.9rem;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin: 12px 0 8px;
  font-size: 0.95em;
}

@media only screen and (min-width: 600px) {
  #reviews {
    width: 300px;
    padding: 20px;
  }

  .customer-photo {
    width: 100px;
    height: 100px;
  }

  .quote-icon {
    top: -70px;
    left: -110px;
  }

  #reviews .comment {
    line-height: 1.5rem;
    max-height: 6rem;
  }
}